  * {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.choice img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choice:hover {
    cursor: pointer;
    transform: scale(1.1); /* Adds a slight zoom effect on hover */
}

/* Background colors for each choice */
#rock {
    background-color: #f8b3b3; /* Light pink for Rock */
}

#paper {
    background-color: #c4b2f9; /* Light purple for Paper */
}

#scissors {
    background-color: #b3d1f9; /* Light blue for Scissors */
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: white;
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

